<button (click)="onClick($event)">show/hide Me text</button>
<h2 *ngIf="isdisable">ngif_demo</h2>

<h2 *ngIf="isdisable; else elseBlock">
    displayName
</h2>
<ng-template #elseBlock>
    <h2>
        Name is hidden
    </h2>
</ng-template>

<div *ngIf="isdisable; then thenBlock; else elseblock"></div>
<ng-template #thenBlock>
    <h2>codevolution</h2>
</ng-template>

<ng-template #elseblock>
    <h2>hidden</h2>
</ng-template>

<input [(ngModel)]="color" type="text"><!--two way binding-->
<div [ngSwitch]="color"><!--ngSwitch-->
    <div *ngSwitchCase="'red'">you pick red color</div>
    <div *ngSwitchCase="'blue'">you pick blue color</div>
    <div *ngSwitchCase="'green'">you pick green color</div>
    <div *ngSwitchDefault>{{color}}</div>
</div>

<div *ngFor="let color of colors; index as i; first as f">
    <h2>{{i}} {{f}} {{color}}</h2>
</div>

<h2>hello {{parentData}}</h2>
<h2>hello {{name1}}</h2>
<button (click)="fireEvent()">send Event</button>